<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v3.2.0/dist/aframe-physics-system.min.js"></script>
  <script src="https://unpkg.com/aframe-animation-component@^4.1.2/dist/aframe-animation-component.min.js"></script>
  <script src="scripts.js"></script>
  <script>
    // AFRAME.registerPrimitive('a-floater', {
    // addChildren: function(){
    //   this.box = document.createElement('a-floater-box');
    //   this.boxAnimation = document.createElement('a-animation').setAttribute('mixin','floater-anim');
    //   this.box.appendChild(.this.boxAnimation);
    //   this.appendChild(this.box);
    // }()

    // });
    AFRAME.registerPrimitive('a-floater-box', {
      defaultComponents: {
        geometry: {
          primitive: 'box',
          depth: 0.25,
          width: 0.25,
          height: 0.25
        },
        position: {
          x: -3,
          y: 4,
          z: 0
        },
        color: "#4CC3D9"
      }
    });
    AFRAME.registerComponent('collision-handler', {
      schema: {
        dynamicBody: {
          default: 'none'
        }
      },
      init: function() {
        // console.log(this);
        const el = this.el;
        el.addEventListener('click', function(event) {
          //make box drop
          el.setAttribute('dynamic-body', 'shape: box');
          //add new box
          const box = document.createElement('a-floater-box');
          box.classList.add('is-current');
          box.setAttribute('mixin','collision-handler');
          //add new box's animation
          boxAnimation.setAttribute('mixin','floater-anim');
          // const boxAnimation = document.createElement('a-animation');
          // box.appendChild(boxAnimation);
          el.classList.remove('is-current');
          //append box to scene
          document.querySelector('a-scene').appendChild(box);
        });
      }
    })
    AFRAME.registerComponent('cursor-listener', {
      init: function() {
        this.el.addEventListener('click', function(event){
          console.log(event.detail.intersectedEl, 'event target');
        })
      }
    });

  </script>
</head>

<body>
  <a-scene>
    <a-assets>
      <a-mixin id="floater-anim" property="position" dur="6000" dir="alternate" to="3 4 0" loop="true"></a-mixin>
      <!-- <a-mixin id="floater-anim" property="position" end="collide" dur="6000" dir="alternate" to="3 4 0" loop="true"></a-mixin> -->
      <a-mixin id="collision-handler" collision-handler></a-mixin>
    </a-assets>
    <a-entity position="0 1 -4" rotation="0 180 0">
      <a-camera wasd-controls look-controls active="true">
        <a-cursor cursor-listener></a-cursor>
      </a-camera>
    </a-entity>
    <a-floater-box class="is-current" collision-handler animation="property: position; dur: 6000; dir: alternate; to: 3 4 0; loop: true">
    </a-floater-box>
    <!-- <a-floater-box class="is-current" collision-handler animation="floater-anim">
    </a-floater-box> -->
    <!-- <a-floater-box class="is-current" collision-handler>
      <a-animation mixin="floater-anim"></a-animation>
    </a-floater-box> -->
    <!-- <a-box class="is-current" position="-3 4 0" collision-handler depth="0.25" width="0.25" height="0.25" color="#4CC3D9">
      <a-animation attribute="position" end="collide" dur="5000" direction="alternate" to="3 4 0" repeat="indefinite"></a-animation>
    </a-box> -->
    <a-plane static-body position="0 0 -4" rotation="-90 0 0" width="10" height="10" color="#7BC8A4"></a-plane>
    <a-sky background="color: #ECECEC"></a-sky>
  </a-scene>
  <script>
    document.querySelector('.is-current').addEventListener('collide', function(evt) {
      //
      // console.log(evt, 'has collided');
      // console.log('has collided');
    });
    document.querySelector('a-plane').addEventListener('collide', function(evt) {
      //
      // console.log(evt, 'has collided');
      // console.log('has collided');
    });
  </script>
</body>

</html>
